<!DOCTYPE html>
<html>

<head>
<title>About System</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
<h1>About Student Tracker</h1>
</header>

<div class="about">

<p>This Student Tracker System helps manage student information including:</p>

<ul>
<li>Student name</li>
<li>Branch</li>
<li>Skills</li>
<li>Email</li>
<li>Phone number</li>
<li>College</li>
<li>Year</li>
<li>Resume upload</li>
</ul>

<p>This system also allows searching students by skills.</p>

</div>

</body>
</html>